*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    position: fixed;
}
.logo-container{
    height: 50px;
    margin-left: 4%;
}
.logo{
    height: 80px;
}
.nav-bar{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}
.nav-bar a{
    text-decoration: none;
    margin: 9%;
    color: black;
    text-align: center;
}
.search-bar{
    display: flex;
    margin-top: 15px;
    width: 302px;
    height: 35px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
}
.search-bar .search{
    border: none;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    font-size: medium;
    font-weight: 300;   
    flex-grow: 1;
}
.search-bar .search-logo{
    margin-top: 5px;
    margin-left: 8px;
}
.action{
    display: flex;
    justify-content: space-evenly;
}
.action-container{
    margin: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
}
.banner-container {
    width: 100%;
}
.banner-container .banner{
    
    width: 85%;
    height: 650px;
    margin: 35px 25px 35px 25px;
    margin-left: 130px;
}
.food-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.heading{
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}
.food-box{
    margin: 30px 50px;
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    border: 2px solid black;
}
.food-box h4{
    text-align: center;
    font-size: 30px;
    margin-top: 90px;
}
.food-box img{
    height: 250px;
    width: 250px;
    cursor: pointer;
}
.food-box p{
    width: 500px;
    font-size: 25px;
    margin-top: 35px;
    line-height: 35px;
}
.food-box span{
    font-size: 30px;
    font-weight: 800;
    margin-top: 100px;
    line-height: 10px;
}
.food-box button{
    margin-top: 70px;
    height: 70px;
    width: 180px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: coral;
    transition: 0.91s;
    cursor: pointer;

}
.food-box button:hover{
    background-color: antiquewhite;
    color: brown;
  
}
main{
    background-color:rgb(236, 234, 234);
}
footer p{
    text-align: end;
    margin-right: 1%;
    font-size: 25px;
}
.nav-bar a:hover{
    border-bottom: rgb(179, 64, 121) 4px solid;
}
.food-box button:active{
    background-color: rgb(202, 163, 115);
    transition: 0s;

}